<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
xmlns="http://xmlns.jcp.org/xml/ns/javaee" 
xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>mystudy</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>

  
  	<servlet>
		<servlet-name>list</servlet-name>
		<servlet-class>com.mystudy.serv.pd.ListServlet</servlet-class>
	</servlet>
	<!-- com.mystudy.serv.pd.ListServlet url 들어오면 
		별칭 ListServ 처리해라 (간단하게 별칭 처리) 설정 후 Tomcat 껏다 키면 변경됨-->
	<servlet-mapping>
		<servlet-name>list</servlet-name>
		<url-pattern>/ListServ</url-pattern>
	</servlet-mapping>
  
</web-app>